/* line 1, ../scss/base/_extends.scss */
body, .main-nav, header {
  text-align: center;
}

/* line 1, ../scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* line 14, ../scss/base/_base.scss */
a {
  text-decoration: none;
  color: #999999;
}

/* line 18, ../scss/base/_base.scss */
a:hover {
  color: #6633ff;
}

/* line 22, ../scss/base/_base.scss */
.clearfix {
  clear: both;
}

/* line 1, ../scss/layout/_containers.scss */
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

/* line 11, ../scss/layout/_containers.scss */
.card:hover {
  border-color: #ff99ff;
}

@media (min-width: 720px) {
  /* line 15, ../scss/layout/_containers.scss */
  .flex {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }
}

@media (min-width: 720px) {
  /* line 26, ../scss/layout/_containers.scss */
  .main {
    padding-top: 20px;
  }
  /* line 29, ../scss/layout/_containers.scss */
  .main p {
    line-height: 1.6em;
  }
}

/* line 33, ../scss/layout/_containers.scss */
ul.skills {
  padding: 0;
  text-align: center;
}

/* line 38, ../scss/layout/_containers.scss */
.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

/* line 47, ../scss/layout/_containers.scss */
.skills li:nth-child(odd) {
  background: #0399ff;
}

/* line 1, ../scss/layout/_navigation.scss */
.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
}

/* line 9, ../scss/layout/_navigation.scss */
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 720px) {
  /* line 9, ../scss/layout/_navigation.scss */
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }
}

/* line 22, ../scss/layout/_navigation.scss */
.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}

/* line 27, ../scss/layout/_navigation.scss */
.nav li {
  padding: 5px 10px 10px 10px;
}

/* line 30, ../scss/layout/_navigation.scss */
.nav a {
  transition: all .5s;
}

/* line 33, ../scss/layout/_navigation.scss */
.nav a:hover {
  color: white;
}

/* line 1, ../scss/layout/_footer.scss */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
@media (min-width: 720px) {
  /* line 1, ../scss/layout/_footer.scss */
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

/* line 12, ../scss/layout/_footer.scss */
footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

/* line 17, ../scss/layout/_footer.scss */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 23, ../scss/layout/_footer.scss */
footer ul li {
  display: inline-block;
}

/* line 27, ../scss/layout/_footer.scss */
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

/* line 37, ../scss/layout/_footer.scss */
a.twitter {
  background-image: url(../images/twitter.svg);
}

/* line 40, ../scss/layout/_footer.scss */
a.linkedin {
  background-image: url(../images/linkedin.svg);
}

/* line 43, ../scss/layout/_footer.scss */
a.github {
  background-image: url(../images/github.svg);
}

/* line 46, ../scss/layout/_footer.scss */
a.social:hover {
  opacity: 1;
}

/* line 1, ../scss/layout/_header.scss */
header {
  background: url("../images/baltimore.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
@media (min-width: 720px) {
  /* line 1, ../scss/layout/_header.scss */
  header {
    min-height: 470px;
  }
}

/* line 11, ../scss/layout/_header.scss */
header {
  line-height: 1.5;
}

/* line 14, ../scss/layout/_header.scss */
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

/* line 22, ../scss/layout/_header.scss */
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

/* line 26, ../scss/layout/_header.scss */
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

/* line 35, ../scss/layout/_header.scss */
.location {
  background-color: #222;
  color: yellow;
}
