.about-me {
	@extend %centered;
	color: #7f7f7f;
	width: 90%;
	padding-bottom: 50px;
}

.main-content {
	@extend %centered;
	margin-bottom: 50px;
	background-color: $content-background-color;
	width: 100%;
	@include desktop {
		width: 90%;
	}
}

.col {
	@extend %centered;
	padding-bottom: 60px;
	width: 90%;
	@include tablet {
		flex: 1 40%;
		margin: 0 30px;
	}
	@include desktop {
		flex: 1 25%;
		margin: 0 15px;
	}
}

.cols {
	@include tablet {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.contact {
	@extend %centered;
	padding: 50px 0;
	width: 90%;
	color: $secondary-text-color;
	p {
		font-size: 1.2em;
	}
	a {
		padding-left: 10px;
		color: $secondary-text-color;
		text-decoration: none;
		font-weight: bold;
	}
}
