.main-footer {
	@extend %centered;
	width: 90%;
	height: 75px;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items:center;
	border-top: 2px solid $footer-border-color;
	font-size: $footer-font-size;
}

.footer-name {
	font-size: $footer-name-font-size;
	font-weight: bold;
	display:block;
}

.back-to-top {
	@include tablet {
		display: none;
	}
}