.main-footer {
	width: 90%;
	height: 75px;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items:center;
	border-top: 2px solid #e7e7e7;
	font-size:.75em;
}

.footer-name {
	font-size: 2em;
	font-weight: bold;
	display:block;
}

.back-to-top {
	@include tablet {
		display: none;
	}
}