.main-header {
	text-align: center;
	width: 90%;
	margin: 0 auto 50px;
	display: flex;
	flex-direction: column;
	@include tablet {
		align-items: center;
	}
	@include desktop {
		flex-direction: row;
		justify-content: space-between;
	}
}