.main-nav li {
	padding: 5px 0;
}

.main-nav a {
	display: block;
	padding: 5px 0;
	background-color: $secondary-background-color;
}

.header-nav {
	@include tablet {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li{
			margin-right: 15px;
		}
		a {
			padding: 0 30px;
			background-color: $header-link-background-color;
		}
	}
}

.footer-nav {
	display: none;
	@include tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			margin-left: 60px;
		}
		a {
			display: block;
		}
	}
}