.profile-photo {
		width: 75%;
		@include tablet {
			display: inline-block;
			float: right;
			width: 350px;
			padding-left: 50px;
			padding-bottom: 80px;
		}
		@include desktop {
			width: 450px;
		}
	}

	#portfolio-title {
		margin: 0 auto;
		padding: 50px 0;
	}


	.portfolio-img {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 25px;
	}