body {
	background-color: $primary-background-color;
	font-family: $font-fira;
	font-size: $body-font-size;
	display: flex;
	flex-direction: column;
}
a {
	color: $link-color;
	text-transform: uppercase;
	font-size: $link-size;
	text-decoration: none;
	&:hover {
		color: $link-color-hover;
	}
}

h1 {
	font-size: $h1-size;
}

h2 {
	text-transform: uppercase;
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

/* ================================= 
  Clearfix
==================================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}