$brk-tablet : '(min-width: 720px)';

$color-border-hover : #ff99ff;
$color-link-hover : #6633ff;
$color-link : #999999;

$size-copyright: .75em;
$size-font-footer-720: 1.3em;

$stack-Roboto : 'Roboto', sans-serif;